<p id="notice"><%= notice %></p>

<h1>Listing Amandmen</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amandmen.each do |amandman| %>
      <tr>
        <td><%= link_to 'Show', amandman %></td>
        <td><%= link_to 'Edit', edit_amandman_path(amandman) %></td>
        <td><%= link_to 'Destroy', amandman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amandman', new_amandman_path %>
